<section>
    <div class="container about-me-introduction">
        <div class="intro-text-cover">
            <h2 class="intro-description">I work with people all over the world to create impressive and <span class="intro-red-accent">functional</span> <span class="intro-grey-accent">websites</span> that reflect each client's unique personality.</h2>
        </div>
        <div class="intro-content-img">
            <picture>
                <source
                srcset="
                    /about-me-intro/intro-lp-1x-min.png  1x,
                    /about-me-intro/intro-lp-2x-min.png  2x
                "
                media="(min-width: 1440px)"
                />
                <source
                srcset="
                    /about-me-intro/intro-tb-1x-min.png  1x,
                    /about-me-intro/intro-tb-2x-min.png  2x
                "
                media="(min-width: 768px)"
                />
                <source
                srcset="
                    /about-me-intro/intro-mb-1x-min.png  1x,
                    /about-me-intro/intro-mb-2x-min.png  2x
                "
                media="(max-width: 376px)"
                />
                <img
                class="intro-img"
                src="/about-me-intro/intro-lp-1x-min.png"
                alt="a man with glasses sits next to a laptop"
                width="680"
                height="700"
                />
            </picture>
        </div>
    </div>
</section>


