<section id="about-me" class="about-me">
    <div class="container">
        <div class="about-div">
            <ul class="accordion-block no-animation">
                <li class="ac">
                    <h3 class="ac-about">
                        About me
                        <button type="button" class="ac-trigger">
                            <svg class="icon" width="20" height="20">
                                <use href="/symbol-defs.svg#icon-aboutme"></use>
                            </svg>
                        </button>
                    </h3>
                <div class="ac-panel">
                    <ul class="ac-text">
                        <li class="ac-list">
                            <p>
                            I am Lloyd Jefferson, a talented programmer with extensive
                            expertise in software development. I have an understanding of
                            different programming languages ​​and technologies, always
                            ready to improve my skills. I always follow the latest trends
                            and look for unconventional, creative solutions to problems. I
                            have a high level of analytical skills and am able to
                            effectively solve even the most difficult tasks encountered on
                            the way.
                            </p>
                        </li>
                        <li class="ac-list">
                            <p>
                            Able to work both independently and in a team. I can
                            effectively cooperate with colleagues, exchanging ideas and
                            finding optimal solutions. Professional maturity allows you to
                            calmly cope with challenges and stressful situations, while
                            maintaining a high quality of work.I am always looking for
                            opportunities for self-improvement. I actively study new
                            technologies and practices to stay abreast of the latest
                            innovations. I have a strong understanding of various
                            programming languages, frameworks and architectural concepts
                            that allow me to create efficient and scalable software.
                            </p>
                        </li>
                    </ul>
                </div>
                </li>
                <li class="ac">
                <h3 class="ac-about">
                    Role
                    <button type="button" class="ac-trigger">
                    <svg class="icon" width="20" height="20">
                        <use href="/symbol-defs.svg#icon-aboutme"></use>
                    </svg>
                    </button>
                </h3>
                <div class="ac-panel">
                    <ul class="ac-text">
                    <li class="ac-text-list">
                        <p>Frontend development</p>
                    </li>
                    <li class="ac-text-list">
                        <p>HeadlessCMS,Wordpress</p>
                    </li>
                    <li class="ac-text-list">
                        <p>Blender(enjoy)</p>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="ac">
                <h3 class="ac-about">
                    Education
                    <button type="button" class="ac-trigger">
                    <svg class="icon" width="20" height="20">
                        <use href="/symbol-defs.svg#icon-aboutme"></use>
                    </svg>
                    </button>
                </h3>
                <div class="ac-panel">
                    <ul class="ac-text">
                    <li class="ac-text-list">
                        <p>
                        2018 - 2019 / Frontend Development Diploma, GoIT IT<br />School,
                        New York
                        </p>
                    </li>
                    <li class="ac-text-list">
                        <p>
                        2019 - 2020 / Advanced Web Development Certificate, GoIT IT<br />
                        School, New York
                        </p>
                    </li>
                    <li class="ac-text-list">
                        <p>
                        2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                        </p>
                    </li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
        <div class="skills-container">
        <div class="skill">
            <ul class="swiper-wrapper">
            <li class="skill-item swiper-slide">HTML/CSS</li>
            <li class="skill-item swiper-slide">JavaScript</li>
            <li class="skill-item swiper-slide">TypeScript</li>
            <li class="skill-item swiper-slide">React</li>
            <li class="skill-item swiper-slide">Node.js</li>
            <li class="skill-item swiper-slide">React Native</li>
            <li class="skill-item swiper-slide">Soft skills</li>
            </ul>
        </div>
        <svg class="btn-next">
            <use href="./symbol-defts.svg#icon-arrow-right"></use>
        </svg>
        </div>
    </div>
</section>