<header class="header-section">
  <div class="container">
    <div class="header-top-line">
      <a class="header-logo-link" href="../index.html">
        <picture>
          <source
            srcset="../img/logo/logo@2x.png"
            media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
          />
          <img
            class="header-logo-image"
            src="../img/logo/logo.png"
            alt="Jefferson logo"
            width="80"
            height="80"
          />
        </picture>
        jefferson*
      </a>
      <nav class="nav-section">
        <a class="menu-link" href="">Menu</a>

        <nav class="menu-nav">
          <ul class="menu-nav-list">
            <li class="menu-nav-item">
              <a class="menu-nav-link" href="#about-me">About me</a>
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" href="#projects">Projects</a>
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" href="#faq">FAQ</a>
            </li>
          </ul>
        </nav>
      </nav>

      <button class="burger-menu-button">
        <svg class="burger-menu-icon" height="28" width="28">
          <use href="../img/icons.svg##icon-btn-menu"></use>
        </svg>
      </button>

      <div class="mobile-menu">
        <div class="container mobile-menu-wrap">
          <button class="menu-close-button">
            <svg class="menu-close-icon" height="28" width="28">
              <use href="../img/icons.svg#icon-btn-close"></use>
            </svg>
          </button>

          <nav class="mobile-menu-nav">
            <ul class="mobile-menu-list">
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#about-me">About me</a>
              </li>
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#benefits">Benefits</a>
              </li>
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#projects">Projects</a>
              </li>
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#FAQ">FAQ</a>
              </li>
            </ul>
          </nav>

          <a href="" class="menu-order-button">Order the project</a>
        </div>
      </div>

      <a class="order-button" href="#work-together">Order the project</a>
    </div>
  </div>
</header>
