.about-me {
    padding-bottom: 64px;
}

.about-div {
    margin-bottom: 32px;
}

.accordion-block .ac-trigger .icon {
    display: block;
    stroke: #fafafa;
    fill: none;
}
.ac .ac-trigger::after{
    content: '';
    display: none;
}

.accordion-block:not(.no-animation) .icon {
    transition: rotate ease 600ms;
}

.accordion-block .ac-trigger[aria-expanded='true'] .icon {
    content: '';
    fill: transparent;
    transform: rotate(180deg);
}

.accordion-block.ac-trigger::after {
    display: none;
}

.accordion-block .ac .ac-trigger {
    display: block;
    display: inline-block;
    width: auto;
    padding: 10px;
    border: 1px solid #fafafa33;
    background-color: #1c1d20;
    border-radius: 50%;
}

.accordion-block .ac-about {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #fafafa66;
}

.accordion-block .ac {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fafafa33;
    margin: 0;
    padding-bottom: 32px;
}

.accordion-block .ac:not(:first-child) {
    padding-top: 20px;
}

.accordion-block .ac-text .ac-list:not(:last-child) {
    margin-bottom: 32px;
}

.accordion-block .ac-text .ac-text-list:not(:last-child) {
    margin-bottom: 10px;
}

.accordion-block .ac .ac-panel .ac-text {
    padding: 0;
    color: #fafafa;
    font-family: 'Inter Tight', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.02em;
}

.accordion-block .ac .ac-panel {
    padding-top: 12px;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 55px;
    width: 100%;
    margin: 0;
}

.skill  {
    position: relative;
    overflow: hidden;
    max-width: 260px;
    height: auto;
    margin: 0;    
}

.swiper-skill{
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
}

.active-slide{
    background-color: #0039D1 !important;
}

.skill-item.swiper-slide {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    text-align: center;
}


.btn-next {
    fill: none;
    stroke: #3b3b3b;
    cursor: pointer;
    min-width: 28px;
    min-height: 28px;
}




@media only screen and (min-width: 768px) {
    .about-me {
        padding-bottom: 96px;
    }
    .about-div{
        margin-bottom: 64px;
    }
    
    .accordion-block .ac:not(:first-child) {
        padding-top: 32px;
    }

    .accordion-block .ac .ac-panel {
        padding-top: 8px;
    }

    .accordion-block .ac-text .ac-list:not(:last-child) {
        margin-bottom: 16px;
    }

     .skill {
        max-width: 600px;
    }
    
    .skills-container {
        max-width: 704px;
        gap: 64px;
    }
    
   .swiper-skill {
        margin-bottom: 0;
    }
    
    .skill-item.swiper-slide {
        height: 200px;
        font-size: 20px;
        width: 200px;
    }
    
    .btn-next {
        width: 40px;
        height: 40px;
    }
}


@media only screen and (min-width: 1440px) {
    .about-me{
        padding-bottom: 196px;
    }

    .accordion-block .ac .ac-panel .ac-text {
        margin-left: 696px;
        width: 612px;
    }
    .accordion-block .ac-text .ac-list:not(:last-child) {
        margin-bottom: 32px;
    }
    .about-div{
        margin-bottom: 96px;
    }

    .skills-container {
        min-width: 1312px;
        gap: 72px;
        margin: 0 auto;
    }
    
    .skill {
        max-width: 1200px;
    }
}
