.faq-section{
    margin-bottom: 64px;
}

.faq-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    padding-bottom: 32px;
}

.faq-item {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}

.faq-item.open .faq-answer {
    max-height: 300px;
    opacity: 1;
    padding-top: 16px;
}

.faq-item.open .arrow-icon {
    transform: rotate(180deg);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--main-text);
}

.faq-div,
.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.faq-item.open .faq-div,
.faq-item.open .faq-answer {
    max-height: 300px; 
    opacity: 1;
}

.section-svg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 7px;
    width: 34px;
    height: 34px;
    transition: all 0.3s ease;
}
.arrow-icon {
    fill: aliceblue;
    transition: transform 0.3s ease;
    transform: rotate(-180deg);
}

.faq-item.open .arrow-icon {
    transform: rotate(0deg); 
}

.faq-answer {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

@media (min-width: 768px){
    .faq-section{
        margin-bottom: 94px;
    }

    .faq-item{
        padding-top: 32px;
        padding-bottom: 42px;
        transition: padding-bottom 0.3s ease;
    }

    .faq-item.open{
        padding-bottom: 26px;
    }
}

@media (min-width: 1440px) {
    .faq-section {
        margin-bottom: 164px;
    }
    
    .faq-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 32px;
        max-width: 1440px; 
    }

    .faq-item:nth-child(2),
    .faq-item:nth-child(4),
    .faq-item:nth-child(6) {
        border-left: 1px solid rgba(250, 250, 250, 0.2);
        padding-left: 32px;
    }

    .faq-item {
        border-bottom: none;
        position: relative;
    }

    .faq-question {
        font-size: 24px;
    }

    .faq-answer {
        font-size: 20px;
    }
  }