.hero-section {
  position: relative;
  background-image: url('../img/hero/hero.png');
  margin: 0 auto;

  margin-bottom: 62px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 812px;
}

@media only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/hero/hero@2x.png');
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    margin-bottom: 64px;
    height: 1024px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-section {
    margin-bottom: 96px;
    height: 900px;
  }
}

.hero-title {
  display: flex;
  justify-content: flex-start;

  padding-top: 281px;
  margin-bottom: 212px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;

    padding-top: 300px;
    margin-bottom: 187px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    justify-content: center;
    margin-bottom: 243px;
  }
}

.hero-social-list {
  display: flex;
  justify-content: center;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .hero-social-list {
    justify-content: flex-end;
    gap: 8px;
  }
}

.hero-social-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .hero-social-link {
    font-size: 16px;
  }
}

.hero-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  height: 37px;

  color: var(--main-color);
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 27.5px;
  width: 100%;
  height: 100%;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-color);
}

.hero-social-item:nth-child(5) > .hero-social-link {
  padding-right: 110px;
  padding-left: 110px;
}

.hero-social-item:hover,
.hero-social-item:active {
  border-color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .hero-social-item {
    height: 55px;
  }
}

.hero-social-item:nth-child(1) {
  padding: 10px 12px;
  width: 37px;
}

.hero-social-item:nth-child(2) {
  padding: 10px;
  width: 37px;
}

.hero-social-item:nth-child(3) {
  padding: 10px 11px;
  width: 37px;
}

.hero-social-item:nth-child(4) {
  padding: 10px 8px;
  width: 37px;
}

.hero-social-item:nth-child(5) {
  padding: 10px 12px;
  width: 178px;
}

@media only screen and (min-width: 768px) {
  .hero-social-item:nth-child(1) {
    padding: 18x 20px;
    width: 55px;
  }

  .hero-social-item:nth-child(2) {
    padding: 18px 17px;
    width: 55px;
  }

  .hero-social-item:nth-child(3) {
    padding: 18px;
    width: 55px;
  }

  .hero-social-item:nth-child(4) {
    padding: 18px 16px;
    width: 55px;
  }

  .hero-social-item:nth-child(5) {
    padding: 18px 24px;
    width: 223px;
  }
}
