
.not-found {
    margin: 30px auto;
    font-size: 36px;
}

p {
    font-family: "Inter Tight", sans-serif;
}

.cards {
    margin: 32px 0px;
}

.card {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    max-width: 343px;
    height: 302px;
}

.card-img {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.card-content {
    max-width: 295px;
    height: 158px;
    margin: 0px;
}

.common-headers {
    margin-bottom: 8px;
}

.common-text {
    max-height: 120px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: 1px;
}


.arrows {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.swiper-button-prev.arrow,
.swiper-button-next.arrow{
    width: 68px;
    height: 68px;
    background: transparent;
    border: 1px solid rgba(250, 250, 250, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 14px;
    background-color: transparent;
}

 .swiper-button-prev.arrow svg,
.swiper-button-next.arrow svg {
  fill: var(--main-color);
  width: 24px;
  height: 24px;
} 

 .swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(255, 255, 255, 0.1);
} 

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
  fill: var(--swiper-btn-disabled);
} 

 .swiper-button-disabled svg {
  fill: var(--swiper-btn-disabled);
} 

.arrow:hover{
    background-color: transparent;
}

@media screen and (min-width:768px) {
    .arrows {
        gap: 20px;
    }
}

@media screen and (min-width:1440px) {
    .card{
        max-width: 332px;
    }
    .card-content{
        max-width: 284px;
    }
}